<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="m-0">
            <a class="page-scroll logo-brand" href="#home">
                <img src="img/logo.png" alt="">
            </a>
            </h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right mt-4">  
            	<li>
                    <a class="page-scroll" href="#home">Início</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#programa">Programa PróCarreira</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sobre">Sobre mim</a>
                </li>
                <li>
                    <a class="page-scroll" href="#depoimentos">Depoimentos</a>
                </li>                
                <li>
                    <a class="page-scroll" href="#contatos">Contatos</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
<a href="https://drive.google.com/file/d/1FAkRv2C8idrJdO1wsh6kB7JOrInkBKsQ/view?usp=sharing" target="_blank">
	<div class="intro-header">
		<div class="container">

			<div class="row">
				<div class="col-lg-12 pl-0 pr-0">
				</div>
			</div>
		</div>
		<!-- /.container -->

	</div>
</a>
	<!-- /.intro-header -->
</section>
