<section id="depoimentos"  style="background-color: #f8f8f8;padding-bottom: 30px">
<div class="row">
    <div class="large-12 columns">
      <div class="mod modSectionHeader ">
  <div class="special-title centered-text">
    <h2 class="text-center">Depoimentos</h2>
  </div>
  
</div>
    </div>
  </div>

  <div class="row">
{% for post in site.posts reversed %}
      <div class="large-4 medium-4 columns">
        <div class="mod modBlogPost">
                <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
          <div class="content">
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
          </div>
        </div>
      </div>
{% endfor %}
  </div>
</section>