<section id="contatos">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Contatos:</h2>
					<h4><a href="mailto:{{ site.email }}" style="color:#fff;text-decoration: none;">EMAIL: {{ site.email }}</a></h4>
				</div>
				<div class="col-lg-6">
					<ul class="banner-social-buttons">
						{% for social in site.social %}
						<li>
							<a target="_blank" href="{{ social.url }}" class="btn btn-xs" alt="{{ social.title }}"><i class="fab fa-{{ social.title }} fa-fw"></i></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->