<section id="depoimentos"  style="background-color: #f8f8f8;padding-bottom: 30px">
<div class="row">
    <div class="large-12 columns">
      <div class="mod modSectionHeader ">
  <div class="special-title centered-text">
    <h2 class="text-center">{{ site.data.textos.depoimentos.title }}</h2>
  </div>
  
</div>
    </div>
  </div>

  <div class="row depoimentos">
{% for post in site.posts reversed %}
      <div class="col-md-4"><br>
        <div class="mod modBlogPost">
                <img class="img-responsive img-thumbnail" src="assets/img/services/{{ post.img }}" alt="">
          <div class="content" style="text-align: justify;">
            <h4>{{ post.title }}</h4>
            <p>{{ post.content }}</p>
          </div>
        </div>
      </div>
{% endfor %}
  </div>
</section>
