<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                <li>
                 <a class="page-scroll" href="#home">Início</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#programa">Programa PróCarreira</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#servicos">Nossos serviços</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#sobre">Sobre mim</a>
                </li>
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#depoimentos">Depoimentos</a>
                </li>        
                <li class="footer-menu-divider">&sdot;</li>
                <li>
                    <a class="page-scroll" href="#contatos">Contatos</a>
                </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
<!--             <div class="col-md-4">
                {{ site.credits }}
            </div> -->
        </div>
    </div>
</footer>
