    <!-- About Section -->
    <br><section id="programa" class="container content-section text-center">
        <div class="banner-treinamento pb-2">
        	<h3 class="text-white text-uppercase" style="color: #f9db3d"><strong>Inscreva-se aqui e inicie já o treinamento online e gratuito</strong></h3>
<form class="form" role="form" action="https://formsquash.io/f/6DfG4GNZ01c8OXQdgWrQ" method="POST">
  <div class="form-group">
    <input type="email" class="form-control btn-lg mb-3" id="exampleInputEmail1" name="_replyto" placeholder="Digite seu email">
  <button type="submit" class="btn btn-default btn-block" value="Submit">Enviar</button>
  </div>
</form>


        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Programa PróCarreira</h2>
Tenha uma carreira bem sucedida alinhada ao seu propósito de vida e perfil comportamental e profissional, potencializando sua performance e produtividade, alcançando resultados inimagináveis!
              </div>
        </div>
    </section>
