    <!-- About Section -->
    <section id="" class="container content-section text-center">
    	<div class="row">
    		            <div class="col-lg-8 col-lg-offset-2">
              <h2>{{ site.data.textos.programa.title }}</h2>
              {{ site.data.textos.programa.text }}<br>
              <br>
          <div class="banner-treinamento pb-2">
          <h2 class="text-center" style="color: #FFF">Inscreva-se aqui e inicie já o treinamento, <span style="color:#faf807;font-weight: bold;">resolva de uma vez por todas sua insatisfação profissional</span>, 100% online e gratuito!</h2><br>
<form class="form" role="form" action="https://formsquash.io/f/6DfG4GNZ01c8OXQdgWrQ" method="POST">
  <div class="form-group">
    <input type="email" class="form-control btn-lg mb-3" id="exampleInputEmail1" name="_replyto" placeholder="Digite seu email">
  <button type="submit" class="btn btn-warning btn-block h1" style="font-size: 18px" value="Submit">Enviar</button>
  </div>
</form>
</div>
    </section>
