    <!-- About Section -->
    <section id="sobre" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	<br><br>
              <h2>Sobre mim</h2>
Coach profissional e Analista Comportamental pelo Instituto Brasileiro de Coaching, Palestrante e, em breve, Practitioner em Programação Neurolinguística, especializada em desenvolvimento profissional. Criadora do Programa PróCarreira, com mais de  80 horas de atuação contribuindo para potencializar pessoas para serem (mais) felizes, especialmente em suas carreiras, florescendo vida na vida delas! 
              </div>
        </div>
    </section>
    <!-- <a href="" class="banner-treinamento"></a> -->

