<!DOCTYPE html>
<html>
  {% include head.html %}

  <body style="background-color: #e7e7e7">
  	<section style="width: 682px;margin: auto;" class="container">
	<h3 class="botao-agende-video"><a href="https://exploratoriaprocarreira.as.me/
" target="_blank">AGENDE JÁ SUA EXPLORATÓRIA GRATUITA!</a></h3>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.youtube.com/embed/bnGvQ4ZEtmY?controls=0&disablekb=1&fs=1&rel=0"  class="embed-responsive-item" allowfullscreen></iframe>
</div>
<a  class="btn btn-warning mt-4" href="javascript:history.back()">Voltar</a>
</section>
  </body>
</html>
