<!DOCTYPE html>
<html>
  {% include head.html %}

  <body style="background-color: #e7e7e7">
  	<div style="width: 682px;height: 386px;margin: auto;">
	<h3 class="botao-agende-video"><a href="https://api.whatsapp.com/send?phone=5531988637943" target="_blank">AGENDE JÁ SUA EXPLORATÓRIA GRATUITA!</a></h3>
<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.youtube.com/embed/bnGvQ4ZEtmY?controls=0&disablekb=1&fs=1&rel=0"  class="embed-responsive-item" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<a  class="btn btn-warning mt-4" href="javascript:history.back()">Voltar
  </body>
</html>
